USE [master]
GO
/****** Object:  Database [efzLager]    Script Date: 20.10.2022 14:44:47 ******/
CREATE DATABASE [efzLager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'efzLager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\efzLager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'efzLager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\efzLager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [efzLager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [efzLager]
GO
/****** Object:  Schema [lager]    Script Date: 20.10.2022 14:44:47 ******/
CREATE SCHEMA [lager]
GO
/****** Object:  Table [dbo].[ArtikelImport]    Script Date: 20.10.2022 14:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArtikelImport](
	[EnglishProductName] [nvarchar](50) NULL,
	[SafetyStockLevel] [smallint] NULL,
	[Color] [nvarchar](15) NULL,
	[EnglishProductSubcategoryName] [nvarchar](50) NULL,
	[EnglishProductCategoryName] [nvarchar](50) NULL,
	[PriceUSD] [money] NULL,
	[PriceEUR] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [lager].[Artikel]    Script Date: 20.10.2022 14:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lager].[Artikel](
	[Artikel_ID] [int] IDENTITY(1,1) NOT NULL,
	[Artikel] [varchar](255) NOT NULL,
	[Mindestbestand] [int] NOT NULL,
	[Unterkategorie_ID] [int] NOT NULL,
	[Farbe] [varchar](255) NOT NULL,
 CONSTRAINT [Artikel_pk] PRIMARY KEY CLUSTERED 
(
	[Artikel_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [lager].[ArtikelLager]    Script Date: 20.10.2022 14:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lager].[ArtikelLager](
	[Artikel_ID] [int] NOT NULL,
	[Lagerort_ID] [int] NOT NULL,
	[LagerMenge] [int] NOT NULL,
 CONSTRAINT [ArtikelLager_pk] PRIMARY KEY CLUSTERED 
(
	[Artikel_ID] ASC,
	[Lagerort_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [lager].[Einkauf]    Script Date: 20.10.2022 14:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lager].[Einkauf](
	[Artikel_ID] [int] NOT NULL,
	[Lieferant_ID] [int] NOT NULL,
	[Waehrungs_ID] [int] NOT NULL,
	[Einkaufspreis] [decimal](10, 5) NOT NULL,
 CONSTRAINT [Einkauf_pk] PRIMARY KEY CLUSTERED 
(
	[Artikel_ID] ASC,
	[Lieferant_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [lager].[Kategorie]    Script Date: 20.10.2022 14:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lager].[Kategorie](
	[Kategorie] [varchar](255) NOT NULL,
	[Kategorie_ID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Kategorie_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [lager].[Lagerort]    Script Date: 20.10.2022 14:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lager].[Lagerort](
	[Lagerort_ID] [int] IDENTITY(1,1) NOT NULL,
	[Lagerort] [varchar](255) NOT NULL,
 CONSTRAINT [Lagerort_pk] PRIMARY KEY CLUSTERED 
(
	[Lagerort_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [lager].[Lieferant]    Script Date: 20.10.2022 14:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lager].[Lieferant](
	[Lieferant_ID] [int] IDENTITY(1,1) NOT NULL,
	[Lieferant] [varchar](255) NOT NULL,
 CONSTRAINT [Lieferant_pk] PRIMARY KEY CLUSTERED 
(
	[Lieferant_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [lager].[Unterkategorie]    Script Date: 20.10.2022 14:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lager].[Unterkategorie](
	[Unterkategorie_ID] [int] IDENTITY(1,1) NOT NULL,
	[Unterkategorie] [varchar](255) NOT NULL,
	[Kategorie_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Unterkategorie_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [lager].[Verkaufspreis]    Script Date: 20.10.2022 14:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lager].[Verkaufspreis](
	[Artikel_ID] [int] NOT NULL,
	[Waehrungs_ID] [int] NOT NULL,
	[Verkaufspreis] [decimal](10, 5) NOT NULL,
 CONSTRAINT [Verkaufspreis_pk] PRIMARY KEY CLUSTERED 
(
	[Waehrungs_ID] ASC,
	[Artikel_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [lager].[Waehrung]    Script Date: 20.10.2022 14:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lager].[Waehrung](
	[Waehrungs_ID] [int] IDENTITY(1,1) NOT NULL,
	[Waehrung] [varchar](255) NOT NULL,
 CONSTRAINT [Waehrung_pk] PRIMARY KEY CLUSTERED 
(
	[Waehrungs_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ArtikelImport] ([EnglishProductName], [SafetyStockLevel], [Color], [EnglishProductSubcategoryName], [EnglishProductCategoryName], [PriceUSD], [PriceEUR]) VALUES (N'Adjustable Race', 1000, N'NA', NULL, NULL, NULL, NULL)
INSERT [dbo].[ArtikelImport] ([EnglishProductName], [SafetyStockLevel], [Color], [EnglishProductSubcategoryName], [EnglishProductCategoryName], [PriceUSD], [PriceEUR]) VALUES (N'Bearing Ball', 1000, N'NA', NULL, NULL, NULL, NULL)
INSERT [dbo].[ArtikelImport] ([EnglishProductName], [SafetyStockLevel], [Color], [EnglishProductSubcategoryName], [EnglishProductCategoryName], [PriceUSD], [PriceEUR]) VALUES (N'BB Ball Bearing', 800, N'NA', NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [lager].[Artikel] ON 

INSERT [lager].[Artikel] ([Artikel_ID], [Artikel], [Mindestbestand], [Unterkategorie_ID], [Farbe]) VALUES (1, N'Adjustable Race', 1000, 30, N'NA')
INSERT [lager].[Artikel] ([Artikel_ID], [Artikel], [Mindestbestand], [Unterkategorie_ID], [Farbe]) VALUES (2, N'All-Purpose Bike Stand', 4, 2, N'NA')
INSERT [lager].[Artikel] ([Artikel_ID], [Artikel], [Mindestbestand], [Unterkategorie_ID], [Farbe]) VALUES (3, N'AWC Logo Cap', 4, 13, N'Multi')
GO
SET IDENTITY_INSERT [lager].[Artikel] OFF
GO
INSERT [lager].[Einkauf] ([Artikel_ID], [Lieferant_ID], [Waehrungs_ID], [Einkaufspreis]) VALUES (2, 1, 2, CAST(159.00000 AS Decimal(10, 5)))
INSERT [lager].[Einkauf] ([Artikel_ID], [Lieferant_ID], [Waehrungs_ID], [Einkaufspreis]) VALUES (2, 2, 1, CAST(95.40000 AS Decimal(10, 5)))
INSERT [lager].[Einkauf] ([Artikel_ID], [Lieferant_ID], [Waehrungs_ID], [Einkaufspreis]) VALUES (3, 1, 2, CAST(8.99000 AS Decimal(10, 5)))
GO
SET IDENTITY_INSERT [lager].[Kategorie] ON 

INSERT [lager].[Kategorie] ([Kategorie], [Kategorie_ID]) VALUES (N'Accessories', 1)
INSERT [lager].[Kategorie] ([Kategorie], [Kategorie_ID]) VALUES (N'Bikes', 2)
INSERT [lager].[Kategorie] ([Kategorie], [Kategorie_ID]) VALUES (N'Clothing', 3)
SET IDENTITY_INSERT [lager].[Kategorie] OFF
GO
SET IDENTITY_INSERT [lager].[Lieferant] ON 

INSERT [lager].[Lieferant] ([Lieferant_ID], [Lieferant]) VALUES (1, N'LieferantEUR')
INSERT [lager].[Lieferant] ([Lieferant_ID], [Lieferant]) VALUES (2, N'LieferantUSD')
SET IDENTITY_INSERT [lager].[Lieferant] OFF
GO
SET IDENTITY_INSERT [lager].[Unterkategorie] ON 

INSERT [lager].[Unterkategorie] ([Unterkategorie_ID], [Unterkategorie], [Kategorie_ID]) VALUES (1, N'Bike Racks', 1)
INSERT [lager].[Unterkategorie] ([Unterkategorie_ID], [Unterkategorie], [Kategorie_ID]) VALUES (2, N'Bike Stands', 1)
INSERT [lager].[Unterkategorie] ([Unterkategorie_ID], [Unterkategorie], [Kategorie_ID]) VALUES (3, N'Bottles and Cages', 1)
SET IDENTITY_INSERT [lager].[Unterkategorie] OFF
GO
INSERT [lager].[Verkaufspreis] ([Artikel_ID], [Waehrungs_ID], [Verkaufspreis]) VALUES (1, 1, CAST(0.00000 AS Decimal(10, 5)))
INSERT [lager].[Verkaufspreis] ([Artikel_ID], [Waehrungs_ID], [Verkaufspreis]) VALUES (2, 1, CAST(95.40000 AS Decimal(10, 5)))
INSERT [lager].[Verkaufspreis] ([Artikel_ID], [Waehrungs_ID], [Verkaufspreis]) VALUES (3, 1, CAST(5.39400 AS Decimal(10, 5)))
GO
SET IDENTITY_INSERT [lager].[Waehrung] ON 

INSERT [lager].[Waehrung] ([Waehrungs_ID], [Waehrung]) VALUES (2, N'EUR')
INSERT [lager].[Waehrung] ([Waehrungs_ID], [Waehrung]) VALUES (1, N'USD')
SET IDENTITY_INSERT [lager].[Waehrung] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNQ_Artikel]    Script Date: 20.10.2022 14:44:48 ******/
ALTER TABLE [lager].[Artikel] ADD  CONSTRAINT [UNQ_Artikel] UNIQUE NONCLUSTERED 
(
	[Artikel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNQ_Kategorie]    Script Date: 20.10.2022 14:44:48 ******/
ALTER TABLE [lager].[Kategorie] ADD  CONSTRAINT [UNQ_Kategorie] UNIQUE NONCLUSTERED 
(
	[Kategorie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNQ_Lagerort]    Script Date: 20.10.2022 14:44:48 ******/
ALTER TABLE [lager].[Lagerort] ADD  CONSTRAINT [UNQ_Lagerort] UNIQUE NONCLUSTERED 
(
	[Lagerort] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNQ_Lieferant]    Script Date: 20.10.2022 14:44:48 ******/
ALTER TABLE [lager].[Lieferant] ADD  CONSTRAINT [UNQ_Lieferant] UNIQUE NONCLUSTERED 
(
	[Lieferant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNQ_Unterkategorie]    Script Date: 20.10.2022 14:44:48 ******/
ALTER TABLE [lager].[Unterkategorie] ADD  CONSTRAINT [UNQ_Unterkategorie] UNIQUE NONCLUSTERED 
(
	[Unterkategorie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNQ_Waehrung]    Script Date: 20.10.2022 14:44:48 ******/
ALTER TABLE [lager].[Waehrung] ADD  CONSTRAINT [UNQ_Waehrung] UNIQUE NONCLUSTERED 
(
	[Waehrung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [lager].[Artikel]  WITH CHECK ADD  CONSTRAINT [Artikel_Unterkategorie] FOREIGN KEY([Unterkategorie_ID])
REFERENCES [lager].[Unterkategorie] ([Unterkategorie_ID])
GO
ALTER TABLE [lager].[Artikel] CHECK CONSTRAINT [Artikel_Unterkategorie]
GO
ALTER TABLE [lager].[ArtikelLager]  WITH CHECK ADD  CONSTRAINT [ArtikelLager_Artikel] FOREIGN KEY([Artikel_ID])
REFERENCES [lager].[Artikel] ([Artikel_ID])
GO
ALTER TABLE [lager].[ArtikelLager] CHECK CONSTRAINT [ArtikelLager_Artikel]
GO
ALTER TABLE [lager].[ArtikelLager]  WITH CHECK ADD  CONSTRAINT [ArtikelLager_Lagerort] FOREIGN KEY([Lagerort_ID])
REFERENCES [lager].[Lagerort] ([Lagerort_ID])
GO
ALTER TABLE [lager].[ArtikelLager] CHECK CONSTRAINT [ArtikelLager_Lagerort]
GO
ALTER TABLE [lager].[Einkauf]  WITH CHECK ADD  CONSTRAINT [Einkauf_Artikel] FOREIGN KEY([Artikel_ID])
REFERENCES [lager].[Artikel] ([Artikel_ID])
GO
ALTER TABLE [lager].[Einkauf] CHECK CONSTRAINT [Einkauf_Artikel]
GO
ALTER TABLE [lager].[Einkauf]  WITH CHECK ADD  CONSTRAINT [Einkauf_Lieferant] FOREIGN KEY([Lieferant_ID])
REFERENCES [lager].[Lieferant] ([Lieferant_ID])
GO
ALTER TABLE [lager].[Einkauf] CHECK CONSTRAINT [Einkauf_Lieferant]
GO
ALTER TABLE [lager].[Einkauf]  WITH CHECK ADD  CONSTRAINT [Einkauf_Waehrung] FOREIGN KEY([Waehrungs_ID])
REFERENCES [lager].[Waehrung] ([Waehrungs_ID])
GO
ALTER TABLE [lager].[Einkauf] CHECK CONSTRAINT [Einkauf_Waehrung]
GO
ALTER TABLE [lager].[Unterkategorie]  WITH CHECK ADD  CONSTRAINT [Unterkategorie_Kategorie] FOREIGN KEY([Kategorie_ID])
REFERENCES [lager].[Kategorie] ([Kategorie_ID])
GO
ALTER TABLE [lager].[Unterkategorie] CHECK CONSTRAINT [Unterkategorie_Kategorie]
GO
ALTER TABLE [lager].[Verkaufspreis]  WITH CHECK ADD  CONSTRAINT [Verkaufspreis_Artikel] FOREIGN KEY([Artikel_ID])
REFERENCES [lager].[Artikel] ([Artikel_ID])
GO
ALTER TABLE [lager].[Verkaufspreis] CHECK CONSTRAINT [Verkaufspreis_Artikel]
GO
ALTER TABLE [lager].[Verkaufspreis]  WITH CHECK ADD  CONSTRAINT [Verkaufspreis_Waehrung] FOREIGN KEY([Waehrungs_ID])
REFERENCES [lager].[Waehrung] ([Waehrungs_ID])
GO
ALTER TABLE [lager].[Verkaufspreis] CHECK CONSTRAINT [Verkaufspreis_Waehrung]
GO
ALTER TABLE [lager].[Artikel]  WITH CHECK ADD CHECK  (([Mindestbestand]>(0)))
GO
ALTER TABLE [lager].[ArtikelLager]  WITH CHECK ADD CHECK  (([LagerMenge]>(0)))
GO
/****** Object:  StoredProcedure [lager].[usp_UpsertArtikel]    Script Date: 20.10.2022 14:44:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [lager].[usp_UpsertArtikel]
AS
-- 1. Daten in Kategorie Importieren
MERGE lager.kategorie AS tgt -- Hier geben wir das Ziel von unserem Merge an
using (SELECT DISTINCT COALESCE(englishproductcategoryname, 'Kategorie Fehlt')
       FROM   dbo.artikelimport) AS src (kategorie) -- Hier geben wir die Quelle der Daten des Merges an, und definieren welche Variablen wir nachher übergeben wollen
ON ( tgt.kategorie = src.kategorie ) -- Dieses ON überprüft ob die Quelldaten gleich der Existierenden Daten sind. Das ON ist wie eine IF
WHEN NOT matched THEN -- Hier wird entschieden was wir machen wenn die Quelldaten in der Zieltabelle noch nicht existieren, hier wird meistens ein Insert gemacht
  INSERT(kategorie)
  VALUES(src.kategorie);
-- Meistens hätten wir hier auch noch ein WHEN MATCHED THEN welches dann alle Werte die wir NICHT für den vergleich verwenden aktualisiert
-- Hier brauchen wir aber kein WHEN MATCHED THEN da wir nur einen Wert haben und wenn dieser schon existiert müssen wir ihn logischerweise nicht Inserten.

-- 2. Daten in Unterkategorie Importieren
MERGE lager.unterkategorie AS tgt
using (SELECT DISTINCT COALESCE(englishproductsubcategoryname, 'Unterkategorie Fehlt') AS Unterkategorie,
                       -- COALESCE(englishproductcategoryname, 'Kategorie Fehlt') AS Kategorie,
                       kategorie.kategorie_id
       FROM dbo.artikelimport
              INNER JOIN lager.kategorie -- Hier sehen Sie auch noch ein INNER JOIN zu dem komme ich nachher noch
                      ON kategorie.kategorie = COALESCE(englishproductcategoryname, 'Kategorie Fehlt')) AS src
					  (unterkategorie, kategorie_id)
ON ( tgt.unterkategorie = src.unterkategorie )
WHEN NOT matched THEN
  INSERT(unterkategorie, kategorie_id)
  VALUES(src.unterkategorie, src.kategorie_id);

-- 3. Daten in Artikel Importieren
MERGE lager.Artikel AS tgt
using (SELECT DISTINCT EnglishProductName, SafetyStockLevel, Color,
			Unterkategorie.Unterkategorie_ID
		FROM dbo.ArtikelImport
	INNER JOIN lager.Unterkategorie
		ON Unterkategorie.Unterkategorie = COALESCE(EnglishProductSubcategoryName, 'Unterkategorie Fehlt')) AS src
	(Artikel, Mindestbestand, Farbe, Unterkategorie_ID)
ON (tgt.Artikel = src.Artikel)
WHEN MATCHED THEN -- Hier sehen Sie eines dieser WHEN MATCHED Statements welches nur Updated was eventuell nicht gleich ist.
	UPDATE SET tgt.Mindestbestand = src.Mindestbestand, tgt.Farbe = src.Farbe, tgt.Unterkategorie_ID = src.Unterkategorie_ID
WHEN NOT MATCHED THEN
	INSERT(Artikel, Mindestbestand, Farbe, Unterkategorie_ID)
	VALUES(src.Artikel, src.Mindestbestand, src.Farbe, src.Unterkategorie_ID);
GO
/****** Object:  StoredProcedure [lager].[usp_UpsertEinkaufLieferant]    Script Date: 20.10.2022 14:44:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Start Procedure für Import von Lieferant und Einkaufspreis
CREATE   PROCEDURE [lager].[usp_UpsertEinkaufLieferant]
AS
MERGE lager.Lieferant AS tgt
USING (SELECT 'LieferantEUR' AS Lieferant
		UNION ALL
		SELECT 'LieferantUSD' AS Lieferant) AS src
	(Lieferant)
ON (tgt.Lieferant = src.Lieferant)
WHEN NOT MATCHED THEN
	INSERT(Lieferant)
	VALUES(src.Lieferant);

-- Merge und Common Table Expressions
-- Vorbereitung von Waehrung und Lieferamnt
WITH 
cteWaehrungLieferant -- Common Table Expression
AS( 
	SELECT * FROM lager.Waehrung
	CROSS JOIN lager.Lieferant
	WHERE CHARINDEX(Waehrung.Waehrung, Lieferant.Lieferant) > 0 -- Was wir suchen, Wo wir suchen
	-- Zahl steht für Stelle der Start Position
	-- USD als Suche, LieferantEUR als Suche = Wert gleich 0 da es nicht vorkommt
	-- USD als Suche, LieferantUSD als Suche = Wert gleich 10 da es an zehnter Stelle vorkommt
),
cteEinkaufspreise
AS 
(
-- Dataset mit Euro vorbereiten
SELECT DISTINCT Artikel.Artikel_ID, 
				cteWaehrungLieferant.Lieferant_ID, 
				cteWaehrungLieferant.Waehrungs_ID, 
				COALESCE(PriceEUR, 0) AS Preis
		FROM dbo.ArtikelImport
		INNER JOIN lager.Artikel
		ON Artikel.Artikel = EnglishProductName
		INNER JOIN cteWaehrungLieferant
		ON cteWaehrungLieferant.Waehrung = 'EUR'
		WHERE COALESCE(PriceEUR, 0) > 0
UNION ALL
-- Dataset für USD vorbereiten	
SELECT DISTINCT Artikel.Artikel_ID, 
				cteWaehrungLieferant.Lieferant_ID, 
				cteWaehrungLieferant.Waehrungs_ID, 
				COALESCE(PriceUSD, 0) AS Preis
		FROM dbo.ArtikelImport
		INNER JOIN lager.Artikel
		ON Artikel.Artikel = EnglishProductName
		INNER JOIN cteWaehrungLieferant
		ON cteWaehrungLieferant.Waehrung = 'USD'
		WHERE COALESCE(PriceUSD, 0) > 0 
)
-- SELECT * FROM cteEinkaufspreise
MERGE INTO lager.Einkauf AS tgt
using (SELECT * FROM cteEinkaufspreise) AS src
	(Artikel_ID, Lieferant_ID, Waehrungs_ID, Preis)
ON (tgt.Artikel_ID = src.Artikel_ID AND tgt.Waehrungs_ID = src.Waehrungs_ID AND tgt.Lieferant_ID = src.Lieferant_ID) -- Es könnte Theoretisch zwei Artikel mit gleicher Waehrung und Artikel ID geben aber mit anderen Lieferant_ID
	WHEN MATCHED THEN
UPDATE SET tgt.Einkaufspreis = src.Preis
	WHEN NOT MATCHED THEN
INSERT (Artikel_ID, Lieferant_ID, Waehrungs_ID, Einkaufspreis)
VALUES (src.Artikel_ID, src.Lieferant_ID, src.Waehrungs_ID, src.Preis);
GO
/****** Object:  StoredProcedure [lager].[usp_UpsertPreis]    Script Date: 20.10.2022 14:44:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Preise mit Merge und schlussendlich mit Procedure importieren
CREATE   PROCEDURE [lager].[usp_UpsertPreis]
AS
-- 1. Währungen importieren
MERGE INTO lager.Waehrung AS tgt
using(
SELECT 'USD' AS Waehrung
UNION ALL -- Neue Zeile
SELECT 'EUR' AS Waehrung
) AS SRC (Waehrung)
ON (src.Waehrung = tgt.Waehrung)
WHEN NOT MATCHED THEN
	INSERT (Waehrung)
	VALUES (src.Waehrung);
-- 2. Verkaufspreis importieren
MERGE INTO lager.Verkaufspreis AS tgt
USING (SELECT DISTINCT Artikel.Artikel_ID, Waehrung.Waehrungs_ID, COALESCE(PriceUSD, 0) AS PriceUSD, COALESCE(PriceEUR, 0) AS PriceEUR
		FROM dbo.ArtikelImport
		INNER JOIN lager.Waehrung
		ON Waehrung.Waehrungs_ID = Waehrung.Waehrungs_ID
		INNER JOIN lager.Artikel
		ON Artikel.Artikel = EnglishProductName) AS src
	(Artikel_ID, Waehrungs_ID, PriceUSD, PriceEUR)
ON (tgt.Artikel_ID = src.Artikel_ID AND tgt.Waehrungs_ID = src.Waehrungs_ID)
	WHEN MATCHED THEN
UPDATE SET tgt.Verkaufspreis = CASE WHEN src.Waehrungs_ID = 1 THEN src.PriceUSD ELSE src.PriceEUR END
	WHEN NOT MATCHED THEN
INSERT (Artikel_ID, Waehrungs_ID, Verkaufspreis)
VALUES (src.Artikel_ID, src.Waehrungs_ID, CASE WHEN src.Waehrungs_ID = 1 THEN src.PriceUSD ELSE src.PriceEUR END);
GO
/****** Object:  StoredProcedure [lager].[usp_UpsertPreis2]    Script Date: 20.10.2022 14:44:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Start Procedure für Preis 2
CREATE   PROCEDURE [lager].[usp_UpsertPreis2]
AS
-- 1. Währungen importieren
MERGE INTO lager.Waehrung AS tgt
using(
SELECT 'USD' AS Waehrung
UNION ALL -- Neue Zeile
SELECT 'EUR' AS Waehrung
) AS SRC (Waehrung)
ON (src.Waehrung = tgt.Waehrung)
WHEN NOT MATCHED THEN
	INSERT (Waehrung)
	VALUES (src.Waehrung);

-- 2. Verkaufspreis importieren
WITH ctePreise
AS (
SELECT DISTINCT Artikel.Artikel_ID, Waehrung.Waehrungs_ID, COALESCE(PriceUSD, 0) AS PriceUSD, COALESCE(PriceEUR, 0) AS PriceEUR
		FROM dbo.ArtikelImport
		CROSS JOIN lager.Waehrung
		-- ON Waehrung.Waehrungs_ID = Waehrung.Waehrungs_ID, Braucht es nur bei Inner Join
		INNER JOIN lager.Artikel
		ON Artikel.Artikel = EnglishProductName
		WHERE PriceUSD > 0 AND PriceEUR > 0 -- Dies kann man auch beim USING machen (nach dem Select)
)
MERGE INTO lager.Verkaufspreis AS tgt
USING (SELECT * FROM ctePreise) AS src
	(Artikel_ID, Waehrungs_ID, PriceUSD, PriceEUR)
ON (tgt.Artikel_ID = src.Artikel_ID AND tgt.Waehrungs_ID = src.Waehrungs_ID)
	WHEN MATCHED THEN
UPDATE SET tgt.Verkaufspreis = CASE WHEN src.Waehrungs_ID = 1 THEN src.PriceUSD ELSE src.PriceEUR END
	WHEN NOT MATCHED THEN
INSERT (Artikel_ID, Waehrungs_ID, Verkaufspreis)
VALUES (src.Artikel_ID, src.Waehrungs_ID, CASE WHEN src.Waehrungs_ID = 1 THEN src.PriceUSD ELSE src.PriceEUR END);
GO
USE [master]
GO
